

<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Mikey</title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-icon-style.css">
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="css/ui-elements/card.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Search Now" class="form-control">
            </form>
        </div>
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down"><h3>Mikey</h3></div>
                        <div class="brand-text brand-small"><img src="img/logo-icon.png" alt="Logo" class="img-fluid"></div>
                    </a>
                    <a id="toggle-btn" href="#" class="menu-btn active">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** SIDE NAVBAR *****-->
    <nav class="side-navbar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4">小咸笔记</h1>
            </div>
        </div>
        <hr>
        <!-- Sidebar Navidation Menus-->
        <ul class="list-unstyled">
            <li class="active"> <a href="index.html"><i class="icon-home"></i>首页</a></li>
            <li><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>主板</a>
                <ul id="apps" class="collapse list-unstyled">
                    <li><a href="calendar.html">技嘉/B450M DS3H</a></li>
                    <li><a href="email.html">技嘉/A320M-S2H</a></li>
                    <li><a href="media.html">华硕/猛禽B450-F</a></li>
                    <li><a href="invoice.html">华硕/猛禽Z390-I</a></li>
                </ul>
            </li>
            <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-file-o"></i>CPU </a>
                <ul id="pages" class="collapse list-unstyled">
                    <li><a href="faq.html">Intel 酷睿i5 9400F</a></li>
                    <li><a href="gallery.html">Intel 酷睿i5 8400</a></li>
                    <li><a href="empty.html">AMD 锐龙 5 2600X</a></li>

                    <li><a href="register.html">AMD Ryzen 7 2700</a></li>
                    <li><a href="search-result.html">AMD Ryzen 3 2200G</a></li>
                    <li><a href="ui-progressbars.html">AMD A8-9600</a></li>
                    <li><a href="ui-timeline.html">AMD A8-7680</a></li>
                    <li><a href="ui-timeline.html">AMD A6-7480</a></li>
                </ul>
            </li>
            <li><a href="#elements" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-globe"></i>装机知识</a>
                <ul id="elements" class="collapse list-unstyled">
                    <li><a href="ui-buttons.html">Buttons</a></li>
                    <li><a href="ui-cards.html">Cards</a></li>

                </ul>
            </li>
        </ul>
    </nav>
        <div class="content-inner chart-cont">
            <div class="section-bottom "style="margin-left: 2rem;color: #000">
                <div id="xinxi1">
                    <div class="row" style="width: 100%;">
                        <div class="col-12"style="border-bottom: 2px solid rebeccapurple;"> <h2>AMD 锐龙 5 2600X</h2></div>

                        <div class="col-md-6 xxi">
                            <h3>一.基本参数</h3>
                            <ui>
                                <li>CPU系列____Ryzen 5</li>
                                <li>制作工艺____12纳米</li>

                            </ui>
                            <h3>二.性能参数</h3>
                            <ui>
                                <li>CPU主频____3.6GHz</li>
                                <li>动态加速频率____4.2GHz</li>
                                <li>核心数量____六核心</li>
                                <li>线程数量____十二线程</li>
                                <li>二级缓存____3MB</li>
                                <li>三级缓存____16MB</li>
                                <li>热设计功耗(TDP)____95W</li>
                            </ui>
                            <h3>三.内存参数</h3>
                            <ui>
                                <li>内存类型____DDR4 3000MHz</li>
                                <li>内存描述____最大内存通道数：2</li>

                            </ui>
                            <h3>四.显卡参数</h3>
                            <ui>
                                <li>集成显卡____不支持</li>
                            </ui>

                        </div>
                        <div class="col-md-6 xxi">

                            <!--<h3>五.技术参数</h3>-->
                            <!--<ui>-->
                            <!--<li>超线程技术____支持</li>-->
                            <!--<li>虚拟化技术____Intel VT-x</li>-->
                            <!--<li>指令集____SSE4.1/4.2，AVX2，64bit</li>-->
                            <!--<li>64位处理器____是</li>-->
                            <!--<li>其它技术____增强型SpeedStep技术</li>-->
                            <!--</ui>-->
                            <h3 style="color: red;">￥：1500/左右</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> 

    <!--Global Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.validate.min.js"></script> 
    <script src="js/chart.min.js"></script> 
    <script src="js/front.js"></script> 
    
    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart4").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               } 
            }
        });
    </script>
</body>

</html>