

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Mikey</title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-icon-style.css">
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="css/ui-elements/card.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Search Now" class="form-control">
            </form>
        </div>
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down"><h3>Mikey</h3></div>
                        <div class="brand-text brand-small"><img src="img/logo-icon.png" alt="Logo" class="img-fluid"></div>
                    </a>
                    <a id="toggle-btn" href="#" class="menu-btn active">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** SIDE NAVBAR *****-->
    <nav class="side-navbar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4">土琪色咸鸭蛋</h1>
            </div>
        </div>
        <hr>
        <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li> <a href="index.html"><i class="icon-search"></i>搜索引擎</a></li>
                <li><a href="calendar.html"><i class="icon-interface-windows"></i>图片素材</a></li>            
                <li class="active"><a href="faq.html"> <i class="fa fa-file-o"></i>编程汇集</a></li>
                <li><a href="ui-buttons.html"> <i class="fa fa-globe"></i>其他</a></li>
            </ul>
	</nav>
        <div id="pstu" class="content-inner baijin">
            <div class="row han">
			  <div class="col-md-4">
			  <a target="_blank" href="https://tool.lu"><img src="img/bianchen/zxgj.png"/>
			  <span>站长工具</span> </a>		  
			  </div>
			  <div class="col-md-4">
				   <a target="_blank" href="http://code.giffox.com"><img src="img/bianchen/dmdh.png" />
				    <span>代码导航</span></a>
			  </div>
			  <div class="col-md-4">
				  <a target="_blank" href="https://www.runoob.com/"><img src="img/bianchen/cnkc.png" />
				  <span>菜鸟课程</span></a>
				  
			  </div>
			</div>	
            <div class="row han">
			  <div class="col-md-4">
			  <a target="_blank" href="https://www.csdn.net"><img src="img/bianchen/csdn.png"/>
			  <span>CSDN</span></a>
			  </div>
			  <div class="col-md-4">
				   <a target="_blank" href="https://segmentfault.com"><img src="img/bianchen/sfzhis.png" />
				   <span>思否搜索</span></a>
			  </div>
			  <div class="col-md-4">
				  <a target="_blank" href="http://www.w3school.com.cn/"><img src="img/bianchen/w3c.png" />
				  <span>w3school</span></a>
				   
			  </div>
			</div>
		    <div class="row han">
				  <div class="col-md-4">
					   <a target="_blank" href="http://www.jq22.com/"><img src="img/bianchen/jquery.png" />
					   <span>JQuery插件</span></a>
				  </div>
				  <div class="col-md-4">
					   <a target="_blank" href="https://echarts.baidu.com/"><img src="img/bianchen/tubiao.png" />
					   <span>图表插件</span></a>
				  </div>
				  <div class="col-md-4">
					   <a target="_blank" href="http://www.dcloud.io/"><img src="img/bianchen/mui.png" />
					   <span>MUI</span></a>
				  </div>
			</div>
            <div class="row han">
			  <div class="col-md-4">
			  <a target="_blank" href="https://www.bootcss.com/"><img src="img/bianchen/bootcss.png"/>
			  <span>Bootstrap</span></a>
			  </div>
			  <div class="col-md-4">
				   <a target="_blank" href="http://www.ionic.wang/"><img src="img/bianchen/ionic.png" />
				   <span>ionic</span></a>
			  </div>
			  <div class="col-md-4">
				  <a target="_blank" href="http://www.ionic.wang/"><img src="img/bianchen/vue.png" />
				  <span>vue</span></a>
				  
			  </div>
			</div>
		    <div class="row han">
				  <div class="col-md-4">
					<a target="_blank" href="https://www.layui.com"><img src="img/bianchen/layui.png" />
					<span>layui</span></a>
				 
				  </div>
				  <div class="col-md-4">
					   <a target="_blank" href="https://github.com"><img src="img/bianchen/github.png" />
					   <span>GitHub</span></a>
				  </div>
				  <div class="col-md-4">
					   <a target="_blank" href="https://www.cnblogs.com/"><img src="img/bianchen/boke.png" />
					   <span>博客园</span></a>
				  </div>
			</div>
			<div class="row han">
     	  <div class="col-md-4">
     		<a target="_blank" href="https://www.proginn.com"><img src="img/bianchen/cxykz.png" />
     		<span>程序员客栈</span></a>
     	 
     	  </div>
     	  <div class="col-md-4">
     		   <a target="_blank" href="https://juejin.im"><img src="img/bianchen/juejing.png" />
     		   <span>掘金网</span></a>
     	  </div>
     	  <div class="col-md-4">
     		   <a target="_blank" href="https://www.lintcode.com"><img src="img/bianchen/suanfa.png" />
     		   <span>领扣算法</span></a>
     	  </div>
     </div>
			<div class="row han">
     	  <div class="col-md-4">
     		<a target="_blank" href="https://leetcode-cn.com/"><img src="img/bianchen/liko.png" />
     		<span>力扣算法</span></a>
     	 
     	  </div>
     	  <div class="col-md-4">
     		   <a target="_blank" href="http://ife.baidu.com"><img src="img/bianchen/baiduqd.png" />
     		   <span>百度前端学习</span></a>
     	  </div>
     	  <div class="col-md-4">
     		   <a target="_blank" href="https://www.v2ex.com/"><img src="img/bianchen/jijie.png" />
     		   <span>程序员集结地</span></a>
     	  </div>
     </div>     
     
			</div>


</div> 

    <!--Global Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper/popper.min.js"></script> 
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.easing.min.js"></script>  
    <script src="js/jquery.validate.min.js"></script> 
    <script src="js/chart.min.js"></script> 
    <script src="js/front.js"></script> 
    
    <!--Core Javascript -->
</body>

</html>