

<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Mikey</title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-icon-style.css">
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="css/ui-elements/card.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Search Now" class="form-control">
            </form>
        </div>
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down"><h3>Mikey</h3></div>
                        <div class="brand-text brand-small"><img src="img/logo-icon.png" alt="Logo" class="img-fluid"></div>
                    </a>
                    <a id="toggle-btn" href="#" class="menu-btn active">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** SIDE NAVBAR *****-->
    <nav class="side-navbar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4">小咸笔记</h1>
            </div>
        </div>
        <hr>
        <!-- Sidebar Navidation Menus-->
        <ul class="list-unstyled">
            <li class="active"> <a href="index.html"><i class="icon-home"></i>首页</a></li>
            <li><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>主板</a>
                <ul id="apps" class="collapse list-unstyled">
                    <li><a href="calendar.html">技嘉/B450M DS3H</a></li>
                    <li><a href="email.html">技嘉/A320M-S2H</a></li>
                    <li><a href="media.html">华硕/猛禽B450-F</a></li>
                    <li><a href="invoice.html">华硕/猛禽Z390-I</a></li>
                </ul>
            </li>
            <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-file-o"></i>CPU </a>
                <ul id="pages" class="collapse list-unstyled">
                    <li><a href="faq.html">Intel 酷睿i5 9400F</a></li>
                    <li><a href="gallery.html">Intel 酷睿i5 8400</a></li>
                    <li><a href="empty.html">AMD 锐龙 5 2600X</a></li>

                    <li><a href="register.html">AMD Ryzen 7 2700</a></li>
                    <li><a href="search-result.html">AMD Ryzen 3 2200G</a></li>
                    <li><a href="ui-progressbars.html">AMD A8-9600</a></li>
                    <li><a href="ui-timeline.html">AMD A8-7680</a></li>
                    <li><a href="ui-timeline.html">AMD A6-7480</a></li>
                </ul>
            </li>
            <li><a href="#elements" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-globe"></i>装机知识</a>
                <ul id="elements" class="collapse list-unstyled">
                    <li><a href="ui-buttons.html">Buttons</a></li>
                    <li><a href="ui-cards.html">Cards</a></li>

                </ul>
            </li>
        </ul>
    </nav>
        <div class="content-inner chart-cont">
            <div class="section-bottom "style="margin-left: 2rem;color: #000">
                <div id="xinxi1"style="border-bottom: 2px solid rebeccapurple;">
                    <div class="row" style="width: 100%;">
                        <div class="col-12"style="border-bottom: 2px solid rebeccapurple;"><h2>华硕/猛禽Z390-I</h2></div>

                        <div class="col-md-4 xxi">
                            <h3>一.CPU</h3>
                            <ui>
                                <li>支持英特尔® Socket 1151 插槽 第9/8代英特尔® 酷睿™, 奔腾® Gold 和赛扬® 处理器</li>
                                <li>支持英特尔® 14 nm 处理器</li>
                                <li>支持英特尔® Turbo Boost 2.0 技术</li>
                            </ui>
                            <h3>二.芯片组</h3>
                            <ui>
                                <li>英特尔® Z390</li>
                            </ui>
                            <h3>三.内存</h3>
                            <ui>
                                <li>2个DDR4 DIMM插槽，最高支持到32 GB</li>
                                <li>双通道内存技术</li>
                                <li>DDR4 3200/2933/2667/2400/2133 MHz </li>

                                <li> Socket 1151， 支持第9 / 8 代英特尔® 酷睿™, 奔腾® Gold 和赛扬® 处理器</li>
                                <li>2 x DIMM, 容量可达 64GB, DDR4 </li>
                                <li> 双通道内存架构</li>
                            </ui>
                            <h3>四.显示功能</h3>
                            <ui>
                                <li>DisplayPort：显示分辨率可达 4096 x 2304 @ 60 Hz *1</li>
                                <li> HDMI 2.0：显示分辨率可达 4096 x 2160 @ / 60 Hz</li>
                                <li>Intel® InTru™ 3D, Quick Sync Video, Clear Video HD 技术, Insider™</li>
                                <li>支持可达 3 路独立显示器</li>
                            </ui>
                            <h3>五.扩展槽</h3>
                            <ui>
                                <li>1 x PCIe 3.0 x16 (x16 模式) </li>
                            </ui>
                        </div>
                        <div class="col-md-4 xxi">

                            <h3>六.储存</h3>
                            <ui>
                                <li>2 x M.2 Socket 3 插槽, 支持 M key, 2242/2260/2280 类型存储设备 (SATA & PCIE 模式)*2</li>
                                <li> 4 x SATA 6Gb/s 接口</li>
                                <li>支持 Raid 0, 1, 5, 10</li>
                                <li>英特尔® 傲腾™ 内存技术 *3</li>
                            </ui>
                            <h3>七.USB</h3>
                            <ui>
                                <li>1 x USB 3.1 Gen 2 前置 连接端口</li>
                                <li>2 x USB 3.1 Gen 2 连接端口 (2 @后, 红色, Type-A)</li>
                                <li>5 x USB 3.1 Gen 1 连接端口</li>
                                <li>4 x USB 2.0 连接端口 (2 @后, 黑色, 2 @前)</li>
                            </ui>
                            <h3>八.操作系统</h3>
                            <ui>
                                <li>支持Windows 10 64-bit</li>
                            </ui>
                            <h3>九.后方面板</h3>
                            <ui>
                                <li>1 x DisplayPort接口</li>
                                <li>1 x HDMI接口</li>
                                <li>1 x LAN (RJ45) 接口</li>
                                <li>2 x USB 3.1 Gen 1 接口(蓝色) Type-A</li>
                                <li>2 x USB 2.0 接口</li>
                                <li>2 x USB 3.1 Gen 2 Type-A,</li>
                                <li>1 x USB 3.1 Gen 1 (黑色) Type-C</li>
                                <li> 1 x 光纤S/PDIF数字音频输出接口</li>
                                <li>5 x 音频插孔</li>
                                <li>1 x ASUS Wi-Fi GO! 模块 (Wi-Fi 802.11 a/b/g/n/ac 和 Bluetooth v5.0)</li>
                            </ui>


                        </div>
                        <div class="col-md-4 xxi">

                            <h3>十.内接插座</h3>
                            <ui>
                                <li>1 x USB 3.1 Gen 2 前面板接口</li>
                                <li>1 x USB 3.1 Gen 1 接口可扩展2 组外接式 USB 3.1 Gen 1 接口</li>
                                <li>1 x USB 2.0 接口可扩展2组外接式USB 2.0接口</li>
                                <li>1 x AAFP 前置音频接针</li>
                                <li> 1 x Aura 可编程灯带接针</li>
                                <li> 2 x M.2 Socket 3 插槽，支持 M key, 2242/2260/2280 类型存储设备 (支持 SATA & PCIE SSD)</li>
                                <li>4 x SATA 6Gb/s设备连接插座</li>
                                <li> 1 x RGB 灯条接口</li>
                                <li> 1 x 中央处理器风扇电源插槽</li>
                                <li>1 x 机箱风扇接口</li>
                                <li>1 x 24-pin EATX主板电源插槽</li>
                                <li>1 x 8-pin ATX 12V主板电源插槽</li>
                                <li>1 x 内部扬声器接口</li>
                                <li>1 x 系统面板接口 (内置机箱防入侵接针)</li>
                                <li>1 x 温度传感器接口</li>
                                <li>1 x AIO_水泵接口</li>
                                <li>1 x MemOK! II 开关</li>
                                <li>1 x 清除CMOS跳线</li>
                            </ui>
                            <h2 style="color: red;">￥2400.00</h2>
                        </div>
                    </div>
                </div>
                <div id="xinxi2">
				</div>
            </div>
        </div>
    </div> 

    <!--Global Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.validate.min.js"></script> 
    <script src="js/chart.min.js"></script> 
    <script src="js/front.js"></script> 
    
    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               } 
            }
        });
    </script> 
</body>

</html>